<div>
    <form>
      <div class="container">
      <form [formGroup]="profileForm" >
    
      <label for="fname">E posta</label>
      <input type="text" id="fname" name="firstname"  formControlName="eposta"  placeholder="Eposta..">
  
      <label for="lname">Eski şifre</label>
      <input type="text" id="lname" name="lastname" formControlName="eskisifre" placeholder="Eski şifre..">
  
      <label for="eposta">Yeni şifre</label>
      <input type="text" id="eposta" name="eposta" formControlName="yenisifre" placeholder="Yeni şifre..">
  
      <label for="phonenumber">Yeni şifre tekrar</label>
      <input type="text" id="phonenumber" name="phonenumber" formControlName="yenisifretekrar" placeholder="Yeni şifre tekrar..">

      
    
        <button class="Submit" 
        (click)="changePassword()"
            type="button">
            Submit
        </button>
      
      </form>
   
  </div>
